  <%= javascript_include_tag 'jquery-sortable' %>
<div class="box-body no-padding ranking-table">
  <form class="form-horizontal">
    <div class="box-body" >
      <div class="form-group" style="margin-bottom:0.5px">
        <label for="projectname" class="col-sm-2 " align="left">Project name</label>
        <label for="date" class="col-sm-2 " align="left">Start at</label>
        <label for="date" class="col-sm-2 " align="left">End at</label>
        <label for="date" class="col-sm-2 " align="left">Status</label>
      </div>
      <div class="form-group" style="margin-top:1px">
          <div class="col-sm-2">
            <%= form_tag({:controller=>'project_list', :action=>'index'}, method: :get) do %>
            <select name="showproject" style="width:150px; height:34px" onchange="this.form.submit()">
             <% @companys.each do |key,value| %>
              <option  >
                <%= value %>
                <br>
              </option>
            <% end %>
              </select>
            <% end %>
          </div>

          <div class="col-sm-2">
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <div class="col-sm-2">
            <div class='input-group date' id='datetimepicker2'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
             <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datepicker();
              });
              </script>
          </div>
         <div class="col-sm-2">
            <input type="email" class="form-control" id="inputEmail3">
         </div>
         <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Search</button> 
         </div>

      </div>
       <!--<div>
            <button type="submit" class="btn btn-primary">Search</button> 
      </div>-->
    </div>
</div>
</div>

<div style="margin-bottom:20px" class="col-sm-12">
  <div style="float: left;">
    <lable >show</lable>
    <select>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
    </select>
    <lable style="width:80px; margin-left:10px" >entries</lable> 
  </div>
  <div style="float:right;">
    <lable >Search</lable>
   
      <%= form_tag({:controller=>'project_list', :action=>'index'}, method: :get) do%>
          <label for="inputEmail3" class="col-md-2 control-label">Company name</label>
          <div class="col-md-8">
            <%= text_field_tag :search, params[:search], placeholder: "Search projects status", class: "form-control"%>
          </div>
          <%= submit_tag "Search", class: "btn btn-primary", name: nil %>
          <%end%>

  </div>
<!-- <table>
  <tr>
    <td style="width:40px">
    <lable >show</lable> 
    </td> 
    <td>
      <%= form_tag({:controller=>'project_list', :action=>'index'}, method: :get) do %>
        <select name="showproject" style="width:100px "  onchange="this.form.submit()">
         <% @limitrows.each do |key,value| %>
          <option  >
            <%= value %>
            <br>
          </option>
        <% end %>
          </select>
      <% end %>
    </td>
    <td style="width:80px; margin-left:50px; align:right">
    <lable style="width:80px; margin-left:10px" >entries</lable> 
    </td> 
    <td style=" width:400px; ">
           <div class="col-sm-12"><label for="inputEmail3" style=" margin-left:500px; height:34px; width:100px" class="col-sm-2 control-label" sy>Email</label>
              <input type="email" style=" margin-left:600px; height:34px; width:150px" class="form-control" id="inputEmail3">
           </div>
         
      
    </td> 
  <tr>
</table> -->
</div>

<div style="margin-top:20pxs" class="col-sm-12">
<table id="example" border="1"; cellpadding="0"; cellspacing="0";class="col-sm-12"  class="table table-bordered table-hover dataTable" >
    <tr >
    <th>No</th>
    <th><%= link_to "name", :sort => "name" %></th>
    <th><%= link_to "start_at", :sort => "start_at" %></th>
    <th><%= link_to "end_at", :sort => "end_at" %></th>
    <th><%= link_to "description", :sort => "description" %></th>
    <th><%= link_to "status", :sort => "status" %></th>
    <th>show</th>
    <th>edit</th>
    <th>delete</th>
    </tr>

    <% @projects.each do |project| %>
      <tr>
       <td ><%= @number+=1 %></td>
        <td ><%= project.name %></td>
        <td><%= project.start_at %></td>
        <td><%= project.end_at %></td>
        <td><%= project.description %></td>
        <td><%= project.status %></td>
        <td ><%= link_to 'Show', project_list_path(project) %></td>
        <td ><%= link_to 'Edit', edit_project_list_path(project), 
                                  method: :get,
                                          data: { confirm: 'Are you sure?' } %></td>
        <td ><%= link_to 'Destroy', project_list_path(project),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

<div style="margin-top:20px" class="col-sm-12">
  <div style="float: left;">
    <lable>show 1 to 10 in 60 entries </lable>
  </div>
  <div style="float:right;">
     <%= will_paginate @projects,  previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window:0 %>
  </div>
</div>



