<section class="content-header">
        <!-- <h1></h1> -->
<h1>Project</h1>
<br>
</section>

<div class="row">
  <div class="col-md-12">
    <div class="box" id="table-content">
    	<div class="box-body no-padding ranking-table">
    	<div class="col-md-12" >
	    	<br>
	    	<!--<div class="col-md-10">-->
	    	<div class="box" id="table-content" >
	     		  <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="Name" class="col-sm-3" >Name </label>
                       <label for="Name" class="col-sm-5" ><%=@project.name%></label>
                    </div>
                    <div class="form-group">
                      <label for="datetimepicker1" class="col-sm-3 "  >Start at</label>
                      <label for="Name" class="col-sm-5" ><%=@project.start_at%></label>
                    </div>

                    <div class="form-group">
                      <label for="datetimepicker2" class="col-sm-3 " >end at</label>
                       <label for="Name" class="col-sm-5" ><%=@project.end_at%></label>
                    </div>
                    <div class="form-group">
                      <label for="Name" class="col-sm-3 " >Notice</label>
                      <label for="Name" class="col-sm-5" ><%=@project.description%></label>
                    </div>
                    <div class="form-group">
                      <label for="Name" class="col-sm-3" >Status</label>
                      <label for="Name" class="col-sm-5" ><%=@project.status%></label>
                    </div>
                   
                  </div><!-- /.box-body -->
                  <!-- /.box-footer -->
                </form>

	       </div>
         <div class="row">
            <div class="col-md-12">
                <%= link_to 'Back', project_list_index_path %>
            </div>
          </div>
       
                  <!-- /.box-footer -->
	   </div>
	   </div>
	  
    </div>
  </div>
</div>
