  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Company's Information</h1>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
          	<div class="col-md-3">
				<label for="inputName" class="control-label">Company Name</label>
          	</div>
              <div class="col-md-9">
                <%= @company.name%>
              </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
          	<div class="col-md-3">
				<label for="inputNote" class="control-label">Note</label>
          	</div>
            <div class="col-md-9">
                <%= @company.note%>
              </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
          	<div class="col-md-12">
	            <%= link_to "Edit", edit_m_company_path(@company, page: @page), remote: true, class: "btn btn-default"%>
	            <%= link_to "Day Type", edit_m_company_path(company), class: "btn btn-default"%>
	            <%= link_to "Public Holiday & Special Day", edit_m_company_path(company), class: "btn btn-default"%>
	            <%= link_to "Time Configuration", edit_m_company_path(company), class: "btn btn-default"%>
          	</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
