<header class="main-header">

  <a href="#" target="_self" class="logo">
    <span class="logo-mini"><%= t('.logo_mini').html_safe %></span>
    <span class="logo-lg"><%= t('.logo_lg').html_safe %></span>
  </a>

  <nav class="navbar navbar-static-top" role="navigation">
    <div class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </div>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav"></ul>
    </div>
  </nav>
</header>

<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
    </div>
    <ul class="sidebar-menu">
      <li class="header"></li>
      <li>
        <%= link_to m_day_types_path, target:"_self" do %>
          <i class="fa fa-calendar"></i>
          <span>Day Types</span>
        <% end %>
      </li>
      <li>
        <%= link_to approved_list_index_path, target:"_self" do %>
          <i class="fa fa-list-ul"></i>
          <span>Approved List</span>
        <% end %>
      </li>
      <li>
        <%= link_to edit_password_user_path, target:"_self" do %>
          <i class="fa fa-user"></i>
          <span>Change password</span>
        <% end %>
      </li>
      <li>
        <a href="<%= destroy_user_session_path %>" data-method="delete">
          <i class="fa fa-sign-out"></i>
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
